apiVersion: v1
kind: Service
metadata:
  name: auth-svc
spec:
  type: ClusterIP
  selector:
    app: auth-app
  ports:
    - port: 80
      targetPort: 4080
      protocol: TCP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-deploy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-app
  template:
    metadata:
      labels:
        app: auth-app
    spec:
      containers:
        - name: auth
          image: 282865065290.dkr.ecr.us-east-1.amazonaws.com/auth
          imagePullPolicy: Always
          ports:
            - containerPort: 4080
          env:
            - name: PORT
              value: "4080"
            - name: JWT_SECRET
              value: "your_jwt_secret"
            - name: JWT_EXPIRATION
              value: "10h"
            - name: SERVICE_NAME_PATIENT
              value: "http://patient-svc/patient"
